/* */
.section-connect { margin-top: -100px; position: relative; z-index: 1; }
.section-connect .inner-section { box-shadow: 0 14px 24px 0 rgb(190 173 142 / 10%); }
.section-connect .inner-section { background-color: #FFFFFF; height: 160px; padding: 30px 50px; }