/* 320  */
@media (min-width: 320px) {	
	.for-mobile { display: block; }
	.for-screen { display: none; }
	
	h2 { font-size: 48px !important; line-height: 56px !important; margin: 0 0 20px; }
	h3 { font-size: 40px; line-height: 48px; margin: 0 0 20px; }
	h4 { font-size: 30px; line-height: 38px; }
	h5 { font-size: 22px; line-height: 30px; }
	p  { font-size: 14px; line-height: 22px; }
	
	header.header-absolute { top: 0; }
	
	.carousel.fade .carousel-item .banner-logo { max-width: 320px; }
	
	.pt-115 { padding-top: 55px; }
	.pb-115 { padding-bottom: 55px; }
	
	.about-section { margin-bottom: 100px; }
	.about-section .row { flex-direction: column-reverse; }
	.about-section .about-text-box { padding: 30px; }
	
	.section-legacy { margin-top: 100px; }
	.section.latest-news { padding-top: 0; padding-bottom: 50px; }	
	.section-gallery { padding-top: 100px; }
	.footer-widget-area { padding-top: 50px; }
	.offers-area .offer-boxes-loop .offer-box .offer-desc { margin-top: 30px; }
	
	.breadcrumb-area { margin-top: 0; }
	.breadcrumb-area { padding-top: 100px; }
	
	.section-construction .row { margin-left: 0; }
	.section-construction .block-text { padding: 30px; }
	.section-construction img { left: 0; }
	
	.contact-part .contact-form { padding: 20px; }
	.contact-part .contact-info .info-box { margin-bottom: 0; padding: 20px; }
	
	.section-publications .grid-item { width: 100%; }
	.section-amenities { padding-top: 50px; }
	.section-amenities .pattern-wrap { display: none; }
	.section-amenities .block-text { padding: 50px 0; }
	.section-gallery { padding-top: 0; }
}

/* 480  */
@media (min-width: 480px) {
}

/* 560  */
@media (min-width: 560px) {
}

/* 768 */
@media (min-width: 768px) {	
	.for-mobile { display: none; }
	.for-screen { display: block; }
	
	h2 { font-size: 56px !important; line-height: 64px !important; margin: 0 0 30px; }
	h3 { font-size: 48px; line-height: 56px; margin: 0 0 30px; }
	h4 { font-size: 32px; line-height: 40px; }
	h5 { font-size: 24px; line-height: 32px; }
	p  { font-size: 16px; line-height: 24px; }
	
	header.header-absolute { top: 35px; }
	
	.carousel.fade .carousel-item .banner-logo { max-width: 400px; }
	
	.pt-115 { padding-top: 115px; }
	.pb-115 { padding-bottom: 115px; }
	
	.about-section { margin-bottom: 0; }
	.about-section .row { flex-direction: row; }
	.about-section .about-text-box { padding: 40px; }
	
	.section-legacy { margin-top: 0; }
	.section.latest-news { padding-top: 100px; padding-bottom: 100px; }
	.section-gallery { padding-top: 100px; }
	.footer-widget-area { padding-top: 100px; }
	.offers-area .offer-boxes-loop .offer-box .offer-desc { margin-top: -30px; }
	
	.breadcrumb-area { /*margin-top: 80px;*/ }
	.breadcrumb-area { padding-top: 140px; }
	
	.section-construction .row { margin-left: 50px; }
	.section-construction .block-text { padding: 50px; padding-left: 0; }
	.section-construction img { left: -50px; }
	
	.contact-part .contact-form { padding: 50px; }
	.contact-part .contact-info .info-box { margin-bottom: 30px; padding: 50px 45px; }
	
	.section-publications .grid-item { width: 33.33%; }
	.section-amenities { padding-top: 0; }
	.section-amenities .pattern-wrap { display: block; }
	.section-gallery { padding-top: 0; }
}

/* 960 */
@media (min-width: 960px) {
}

/* 1024 */
@media (min-width: 1024px) {
}

/* 1100 */
@media (min-width: 1100px) {
}

/* 1260 */
@media (min-width: 1260px) {
}

/* 1440 */
@media (min-width: 1440px) {
}

/* Max: 768  */
@media (max-width: 768px) {		
}